In [1]:
import numpy as np
from numpy import sqrt
import matplotlib.pyplot as plt
from time import process_time
import pandas as pd

In [2]:
a=np.zeros((256,256,3))
b=np.array(pd.read_csv("C:\\Users\\Nam Le\\file1.txt", sep=" ", header=None))
c=range(2,9,2)

In [3]:
b[0:2]
s=np.zeros((4,3))
for j in range(4):
        a[b[j][1],b[j][0]]=b[j][2:5]
        s[j]=b[j][2:5]
s

array([[  0., 128., 255.],
       [  0.,   0., 155.],
       [255.,   0.,   0.],
       [255., 128.,   0.]])

In [4]:
compare=[]
for i in c:
    start_time=process_time()
    s=np.zeros((i,3))
    h=np.zeros((i,2))
    for j in range(i):
        a[b[j][1],b[j][0]]=b[j][2:5]
        s[j]=b[j][2:5]
        h[j]=b[j][0:2]
    def not_points(m,n):
        return not ([m,n] in h)
    s=np.transpose(s)
    def dis(m,n):
        return sqrt((m[0]-n[0])**2+(m[1]-n[1])**2)
    r=np.zeros((256,256,i))
    r=r.astype("uint8")
    for m in range(256):
        for n in range(256):
            if not_points(m,n):
                for p in range(i):
                    r[m,n,p]=dis([m,n],h[p])
    for m in range(256):
        for n in range(256):
            if not_points(m,n):
                x=(1/(1+r[m,n]**2))
                t=sum(x)
                a[m,n]=(s@x)/t
    a=a.astype("uint8")
    stop_time=process_time()
    delta_time=(stop_time-start_time)
    compare.append([i, delta_time])

In [5]:
df=pd.DataFrame(compare, index=None, columns={"Number of initial points","Time to get the result"})
df

   Number of initial points  Time to get the result
0                         2                5.593750
1                         4                6.890625
2                         6                7.843750
3                         8                9.015625